@font-face {
    font-family: dinoBubbleFont;
    src: url(../assets/Jellies.ttf);
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#div-g {
    background: #b6ff00;
}

#div-r {
    background: #ff0000;
}

#div-y {
    background: #ffae00;
}

#div-b {
    background: #0094ff;
}

#dinodivs-title {
    font-family: dinoBubbleFont;
    color: black;
    text-align: center;
    z-index: 2;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 5rem;
}

#dino-gifs {
    text-align: center;
    z-index: 2;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#dino-gifs img {
    height: 8rem;
}

#name {
    text-align: center;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#title {
    text-align: center;
    z-index: 2;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
