#game-body {
    background: url('../assets/jungleBackground.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-position-y: 90%;
}

#egg-img {
    height: 10rem;
}

#egg-div {
    display: flex;
    justify-content: center;
    margin-right: 15%;
}
