#game-body {
    background: url('../assets/gamebackground.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-position-y: 90%;
}

header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 1rem;
    padding-right: 2rem;
}

#egg-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    padding-top: 20px;
    height: 432px;
}

#dino-name {
    /* background-color: rgba(250, 235, 215, 0.502); */
    color: rgb(254, 237, 199);
    font-family: '8BIT WONDER', sans-serif;
    font-size: 2.5rem;
    padding-left: 6rem;
}

#dino-interaction {
    height: 432px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: solid black 1px;
}

#dino-item {
    height: 90px;
    width: 90px;
    background: url('/assets/apple.png');
    background-size: cover;
}

#action-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.game-button {
    display: none;
    padding: 12px;
    margin: 5px;
    background: coral;
    font-size: 1.5rem;
    box-shadow: 0 1px 3px rgba(3, 19, 1, 0.75), 0 1px 5px rgba(0, 0, 0, 0.75);
}

.reveal {
    display: flex;
}
