#game-body {
    background: url('../assets/jungleBackground.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-position-y: 90%;
    cursor: url('../assets/dinoCursor.png'), auto;
}

#egg-div {
    display: flex;
    justify-content: center;
    margin-right: 15%;
}
#egg-div:hover {
    cursor: url('../assets/egg-crack.gif'), auto;
}

header {
    width: 100%;
    top: 40px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

#dino-name {
    /* background-color: rgba(250, 235, 215, 0.502); */
    color: rgb(254, 237, 199);
    font-family: '8BIT WONDER', sans-serif;
    font-size: 1.3rem;
}
