:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    /* --offset-color: rgb(217, 236, 217); */
    --action-color: rgb(77, 132, 252);

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background: var(--background);
    cursor: url('../assets/small-dino-cursor.png'), auto;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}

main {
    padding: 20px;
    width: 100%;
}

.avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

.right-dinos {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#auth-body {
    background-image: url('../assets/JungleBackgroundAuth.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    box-shadow: horizontal-offset vertical-offset blur-radius spread-radius(black);
    color: rgb(252, 253, 253);
}

#auth-form {
    background-image: url('../assets/cometGif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
}

#sign-in-btn {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: horizontal-offset vertical-offset blur-radius spread-radius(black);
    font-weight: bold;
    /* ask about adding drop shadow to font only */
}

#sign-in-btn:before {
    content: '';
    background: linear-gradient(45deg, #000914, #090d14, #0a0914, black, black);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 80%;
}

#sign-in-btn:active {
    color: #000;
    /* how to contain the gradient to form div only? */
}

#sign-in-btn:active:after {
    background: transparent;
}

#sign-in-btn:hover:before {
    opacity: 1;
}

#sign-in-form:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #111; */
    left: 0;
    top: 0;
    border-radius: 80%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}
